---
import MainLayouts from "../../layouts/MainLayouts.astro"

export async function getStaticPaths() {
  const data = await fetch(
    "https://pexwboaieovroxjkczsc.supabase.co/rest/v1/speakerinfo",
  {
    method: "GET",
    headers: {
        apikey:
            "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBleHdib2FpZW92cm94amtjenNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTQ1MDEwNzgsImV4cCI6MjAxMDA3NzA3OH0.6BHSqoC3DM7BXM7_X4Syq5W3u_U5MKO7EPClIkefExs"
    },
}
  ).then(response => response.json());

  return data.map((name) => {
    return {
      params: { speaker: name.speaker },
      props: { myData:name },
    };
  });
}

const { myData } = Astro.props
console.log(myData);
---

<MainLayouts>
    <section class="speakerpage">
      <div class="imgfolder">
	    <img src={myData.image} alt="placeholder">
      </div>
        <div class="text">
    <h1>{myData.name}</h1>
    <p>{myData.info}</p>
    <h4>{myData.talk}</h4>
    </div>
    </section>
</MainLayouts>

<style>
        .speakerpage {
            display: flex;
            align-items: center;
            gap: 3rem;
        }

        img {
            width: 400px;
            height: auto;
            border-radius: 50%;
        }

            .imgfolder {
        display: inline-block;
        position: relative;
    }
        .imgfolder::before {
        content: '';
        position: absolute;
        top: 60px;
        left: 60px;
        right: 0px;
        bottom: 0px;
        border: 2px solid #FFB6BE;
        z-index: -1;
        transition: border-color 0.3s ease;
    }
    .imgfolder:hover::before {
      border-color: #284D3B;
}
        h4 {
          color: #FED6DB;
          background-color: #284D3B;
          border: solid 1px black;
          padding: 10px;
          box-shadow: 5px 5px;
        }
        h1 {
          font-size: 52px;
        }

        @media (max-width: 750px) {
                    .speakerpage {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 1rem;
        }
        }
</style>