---
import Mainlayouts from "../layouts/Mainlayout.astro";
---

<Mainlayouts>
  <article>
    <h1>About us</h1>
    <div class="grid1_1">
      <div>
        <h2>WHAT IS UX COPENHAGEN?</h2>
        <br />
        <ol>
          <li>
            <h3>General Information:</h3>
            <li class="punkt">
              <p>Participants: Approximately 200 attendees annually.</p>
            </li>
            <li class="punkt">
              <p>
                International Attendance: 76% of participants come from around
                the globe.
              </p>
              <li class="punkt">
                <p>
                  Attendee Breakdown: 50% UX Designers, 25% Managers, 25% Other
                  Creatives.
                </p>
              </li>
              <br />
              <li>
                <h3>Organizational Details:</h3>
                <li class="punkt">
                  <p>
                    Leadership: Helle Martens primarily manages the conference.
                  </p>
                </li>
                <li class="punkt">
                  <p>
                    Principles: Emphasis on gender balance in speakers,
                    inclusion of diverse perspectives, and promoting new voices.
                  </p>
                  <li class="punkt">
                    <p>
                      Financial Structure: Budget relies on ticket sales and
                      limited sponsorships.
                    </p>
                  </li>
                  <li>
                    <p>
                      The conference continues to provide a valuable platform
                      for networking and learning in the UX and design
                      community.
                    </p>
                  </li>
                </li>
              </li>
              </li>
            </ol>
            </li>
            </div>
              <div class="container">
                <img
                  class="foreground-image"
                  src="/img/helle_lone.webp"
                  alt="helle og lone"
                />
                <p>Lone Ørum & Helle Martens</p>
                <img
                  class="background-image_1"
                  src="/img/pink.svg"
                  alt="firkant_pink"
                />
                <img
                  class="background-image"
                  src="/img/green.svg"
                  alt="firkant_green"
                />
              </div>
            </div>
            
             </div>
              <br />
              <br />
            
            <div class="grid1_1 space">
              <div class="container">
                <img
                  class="foreground-image"
                  src="/img/om_os.webp"
                  alt="konference"
                />
                <img
                  class="background-image_2"
                  src="/img/pink.svg"
                  alt="firkant_pink"
                />
                <img
                  class="background-image_3"
                  src="/img/green.svg"
                  alt="firkant_green"
                />
              </div>
              <div>
                <h2>THIS YEAR'S THEME: <br /> DEGROWTH & CONSUMERISM</h2>
                <p>
                  Angelos Arnis, the closing keynote for UX Copenhagen 2023
                  stated very bluntly
                </p>
                <br />
                <h2 class="citat">“There is no planet B”</h2>
                <br />
                <p class="text">
                  Our world has long celebrated relentless growth, leading to
                  overproduction and overconsumption. However, resources are
                  dwindling, and business as usual is no longer viable. <br
                  /><br />

                   On March 20-21, 2024, we'll tackle climate change, consumerism,
                  and waste. Discussions will focus on degrowth and unlearning harmful
                  practices. We'll explore how consumerism must evolve for the planet's
                  survival, showcasing practical examples and fostering dialogue
                  on designers' role in driving systemic change for sustainability.

                  <br /><br />

                   The conference will be a hybrid event, offering in-person and
                  online participation. It will feature live workshops, Q&A sessions,
                  raffles, book sales, and ample networking opportunities.
                </p>
              </div>
           
          
        
  
      
    
  </article>
</Mainlayouts>
        <style>
          .background-image {
            display: none;
          }
          .background-image_1 {
            display: none;
          }
          .background-image_2 {
            display: none;
          }
          .background-image_3 {
            display: none;
          }
          article {
            margin: 10px;
          }
          @media (min-width: 750px) {
            .grid1_1 {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 40px;
            }
            img {
              width: 90%;
            }

            .space {
              margin-top: 90px;
              margin-bottom: 90px;
            }
            .citat {
              width: 50%;
              margin-top: -2%;
              margin-left: 5%;
              padding: 0;
              animation-name: ind_fra_højre;
              animation-duration: 2s;
            }
            @keyframes ind_fra_højre {
              0% {
                transform: translateX(-150%);
              }
              100% {
                transform: translateX(0);
              }
            }
          }
          @media (min-width: 1000px) {
            .container {
              position: relative;
              width: 100%;
              height: 100%;
            }

            .background-image {
              position: absolute;
              top: -40%;
              left: 74%;
              width: 300px;
              height: 400px;
              transition: opacity 0.5s;
              margin: 30px;
              display: block;
            }
            .background-image_1 {
              position: absolute;
              top: -40%;
              left: 74%;
              width: 300px;
              height: 400px;
              transition: opacity 0.5s;
              margin: 30px;
              display: block;
            }

            .foreground-image {
              position: relative;
              top: 0;
              left: 0;
              width: auto;
              height: 400px;
              object-fit: cover; /* Ensure the image covers the container */
              z-index: 1;
            }
            .container:hover .background-image {
              opacity: 0;
            }

            .container:hover .foreground-image {
              opacity: 1;
            }
            .container:hover .background-image_1 {
              opacity: 1;
            }
            .background-image_2 {
              position: absolute;
              top: -54%;
              left: -25%;
              width: 300px;
              height: 400px;
              transition: opacity 0.5s;
              display: block;
            }
            .background-image_3 {
              position: absolute;
              top: -54%;
              left: -25%;
              width: 300px;
              height: 400px;
              transition: opacity 0.5s;
              display: block;
            }
            .container:hover .background-image_3 {
              opacity: 0;
            }

            .container:hover .background-image_2 {
              opacity: 1;
            }
            .citat {
              font-style: italic;
              color: #ffb6be;
            }
          }
          h1 {
            font-size: 3rem;
            margin-bottom: 20px;
          }
          img .background-image .background-image_1 {
            visibility: hidden;
          }
          li {
            list-style-type: none;
          }
          li p {
            font-size: 13px;
          }
          .punkt {
            list-style-type: circle;
            color: #2e3192;
          }
          p {
            font-size: 13px;
          }
      
</style>