---
import Button from "../components/Button.astro"
import MainLayouts from "../layouts/MainLayouts.astro"
---
<MainLayouts>

    <p>The theme for UX Copenhagen 2024 is:</p>
<h1>DEGROWTH & CONSUMERISM</h1>
<h2>CONFERENCE 20-21 MARCH 2024</h2>
<Button ButtonTitle="TICKETS" ButtonLink="/tickets.astro"/>
<img class="fakebon" src="../../img/fakebon.webp" alt="fakebon">

<video width="100%" controls autoplay>
    <source src="../mov/uxfeel.mov" type="video/mp4">
</video>
</MainLayouts>

