---
import Button from "../components/Button.astro";
import MainLayouts from "../layouts/MainLayouts.astro";
import Speakers from "../components/Speakers.astro"

const data = await fetch("https://pexwboaieovroxjkczsc.supabase.co/rest/v1/speakerinfo?limit=4",{
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBleHdib2FpZW92cm94amtjenNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTQ1MDEwNzgsImV4cCI6MjAxMDA3NzA3OH0.6BHSqoC3DM7BXM7_X4Syq5W3u_U5MKO7EPClIkefExs"
    },
}).then((res)=>res.json());
---

<MainLayouts>
  <section class="bongrid">
    <div class="indextext">
      <p>The theme for UX Copenhagen 2024 is:</p>
      <h1>DEGROWTH & CONSUMERISM</h1>
      <h2 class="indexh2">CONFERENCE 20-21 MARCH 2024</h2>
      <Button ButtonTitle="TICKETS" ButtonLink="/tickets" />
    </div>
    <img class="fakebon" src="/bong.svg" alt="bon" />
  </section>
  <div class="øverst">
  <img src="/logo_stort.svg" alt="logo">
  </div>
  <section class="videobox">
    <video width="100%"  controls autoplay loop>
      <source src="../mov/uxfeel.webm" type="video/webm" />
       Your browser does not support the video tag.
    </video>
    <h2 class="text">THAT UX COPENHAGEN FEEL</h2>
  </section>
    <h2>FEATURED SPEAKERS</h2>
    <section class="speakers">
    {
        data.map((speaker) => {
            return <Speakers data={speaker} />;
        })
        }
</section>
  <section class="grid1_1">
    <div>
    <img class="img_str" src="../../img/ux_scene.webp" alt="ux scene">
</div>
<div>
  <h2 class="farve">WHAT TO EXPECT</h2>
  <p class="farve">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel doloribus itaque at molestiae ab commodi earum, minus sed. Iusto id ullam inventore aut beatae in nulla nihil expedita. Sunt, inventore.</p>
</div>

  </section>
</MainLayouts>

<style>
    .speakers  {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
    }
      .grid1_1{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #284D3B;
    gap:20px;
  }
  .bongrid {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: column;
  }
  .fakebon {
    width: 50%;
    margin-left: 49%;
    margin-top: -8%;
    rotate: -2deg;
    order:0
  }
  .indexh2 {
    font-size: 2rem;
    font-weight: lighter;
  }
  h1 {
    font-size: 3.5rem;
  }
  .indextext {
    margin-top: 5%;
  }
  .videobox {
    background-color: #ffe7e9;
    padding-top: 80px;
    padding-bottom: 2px;
  }
  .text{
    text-align: end;
    margin: 20px;
    color: #284D3B;
  }
  .farve{
    color: #ffe7e9;
    margin: 20px;
  }
<<<<<<< HEAD
  main{
  max-width: none;
  margin: 0;
 }
  @media (min-width: 500px){
=======
  @media (min-width: 750px){
      .speakers  {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2.5rem;
    }
>>>>>>> forsideslotnoel
     video{
   object-fit: cover;
  align-self: stretch;
  height:450px;
  }
  .grid1_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #284D3B;
    gap:20px;
  }
  .img_str{
    margin: 25px;
  }
  }
 
</style>
