---
// Supports weights 100-800
import '@fontsource-variable/sora';
---
<footer>
        <ol>
            <div><li>VENUE 2024 <br>Big Bio Nordhan <br>Hamborg Plads 6 <br>2150 København</li></div>
            <div>
<li>CONTACT</li> 
<li><a href="http://hello@uxcopenhagen.com">hello@uxcopenhagen.com</a></li> 
<li><a href="http://uxcopenhagen.com/terms-and-conditions.">Terms & conditions</a></li>
<li><a href="http://uxcopenhagen.com/code-of-conduct/">COC</a></li>
</div>
<div>
     <li>SOCIAL MEDIA</li>
     <li><a href="https://www.facebook.com/uxcopenhagen">Facebook</a></li>
</div>

</ol>
   
    
</footer>

<style>
    ol{
    display: flex;
    gap: 26%;
    list-style: none;
    place-content: center;
    font-size: 1rem;
    margin: 30px;
}
a{
    text-decoration: none;
    font-family: 'Sora Variable', sans-serif;
}
</style>