---
// Supports weights 100-800
import '@fontsource-variable/sora';
---
<img class="x_logo" src="/img/ux_p.svg" alt="logo_x">
<footer>
    <hr>
        <ol>
            <div><li><p>VENUE 2024</p>Big Bio Nordhan <br>Hamborg Plads 6 <br>2150 København</li></div>
            <div>
<li><p>CONTACT</p></li> 
<li><a href="http://hello@uxcopenhagen.com">hello@uxcopenhagen.com</a></li> 
<li><a href="http://uxcopenhagen.com/terms-and-conditions.">Terms & conditions</a></li>
<li><a href="http://uxcopenhagen.com/code-of-conduct/">COC</a></li>
</div>
<div>
     <li><p>SOCIAL MEDIA</p></li><br>
     <div class="sm_logo">
     <a href="https://www.facebook.com/uxcopenhagen"><img src="/img/facebook-1.svg" alt="facebooklogo"></a>
     <a href="https://twitter.com/i/flow/login?redirect_after_login=%2Fuxcopenhagen"><img src="/img/twitter.svg" alt="twitterlogo"></a>
     <a href="https://www.instagram.com/UXCopenhagen/"><img src="/img/instagram.svg" alt="instagramlogo"></a>
</div>

</div>

</ol>
   
    
</footer>

<style>
    ol{
   margin: 20px;
    list-style: none;
}
a{
    text-decoration: none;
    font-family: 'Sora Variable', sans-serif;
}
.sm_logo{
    width: 45%;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap:10px;
margin-top: -20px;
}
p{
    color: #2e3192;
    font-weight: bold;
    margin-top: 25px;
}
li{
     color: #2e3192;
}
hr{
    color: #2e3192;
    margin-top: 50px;
}
.x_logo{
    width: 15%;
    margin: 0 auto;
    margin-top: 40px;
}
 @media (min-width: 750px){
    .x_logo{
    width: 4%;
    margin: 0 auto;
    margin-top: 40px;
}
  ol{
    display: flex;
    gap: 24%;
    list-style: none;
    place-content: center;
    font-size: 1rem;
    margin: 30px;
}
p{
    color: #2e3192;
    font-weight: bold;
}
.sm_logo{
    width: 100%;
 }
}
</style>