---
const { ButtonLink, ButtonTitle } = Astro.props;
---

<a href={ButtonLink}><button>{ButtonTitle}</button></a>

<style>

button{
    font-weight: bold;
   color: #FFE7E9;
   background-color: #2e3192;
   border-style: none;
   padding: 8px;
   border-radius: 4px;
   font-size: 1.5rem;
   margin-top: 10px;
  
}

</style>