---
// Supports weights 400-700
import '@fontsource-variable/arimo';
---
<menu>
    <div><a href="/">LOGO</a></div>
    <li><a href="/tickets/">TICKETS</a></li>  
    <li> <a href="/talks/">TALKS</a></li>  
    <li><a href="/about/">ABOUT</a></li>  
</menu>

<style>
    menu{
    display: flex;
    gap: 12rem;
    list-style: none;
    place-content: center;
    font-size: 1.5rem;
  }
  div{
    margin-right: 30%;
  }
  li{
    place-content: end;
  }
  a{
    text-decoration: none;
    font-family: 'Arimo Variable', sans-serif;
  }
</style>