---
import TopNavigation from "../components/TopNavigation.astro"
import BottomNavigation from "../components/BottomNavigation.astro"
import "../pages/css/generel.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>uxcopenhagen</title>
	
	</head>
	<body>
	<TopNavigation/>
	<main>
        <slot/>
    </main>
	<BottomNavigation/>
	</body>
</html>